body{
    background-image: url(images/photo_2024-10-19_14-51-30.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:fixed;
    background-size: cover;
}